{# competitors.html #}
<style>
    .narrow-col {
        width: 15px; /* This style will be overridden by table-layout: auto; but we keep it just in case */
        white-space: nowrap; /* Prevent text wrapping in narrow columns */
    }
    .content-table {
        table-layout: auto; /* Makes columns adjust to content width */
        width: auto; /* Ensures the table itself fits content */
        border-collapse: collapse; /* Optional: collapses borders for a cleaner look */
    }

    .content-table th,
    .content-table td {
        padding: 8px; /* Optional: adds some padding for better readability */
        border: 1px solid #ddd; /* Optional: adds borders for visual structure */
        white-space: nowrap; /* Prevent text wrapping by default, adjust if needed for specific columns */
    }
</style>
{% if datetimes.myfin_calc_datetime %}<span style="padding-left: 1px; margin-left: 14px; font-size: 12px">Курсы myfin.by обновлены в: {{datetimes.myfin_calc_datetime[:19]}}</span>{% endif %}
<div style="display: flex;">
    {% for currency, body in competitors.items() %}
        <div style="margin-right: 20px; text-align: center;"> <!-- Add margin for spacing -->
            <strong style="padding: 1rem;">{{ currency | upper }}</strong>
            <table class="content-table"> <!-- Added class 'content-table' here -->
                <thead>
                    <tr>
                        <th style="max-width: 100px;">Банк</th>
                        <th class="narrow-col">Покупка</th>
                        <th class="narrow-col">Продажа</th>
                        <th>Адрес</th>
                        <th class="narrow-col">Расстояние</th>
                    </tr>
                </thead>
                <tbody>
                {% for sell_item in body if sell_item.operation_type == 'покупка' %}
                    {% set buy_item = body | selectattr('ranking', '==', sell_item.ranking) | selectattr('operation_type', '==', 'продажа') | first %}
                    <tr>
                        <td style="max-width: 100px;">{{ sell_item.bank_name }} </td>
                        <td class="narrow-col" {% if buy_item.rank_max == 1 %} style="background-color: lightgreen;"{% endif %} {% if buy_item.rank_min == 1 %} style="background-color: lightcoral;"{% endif %}>{{ buy_item.value | round(3) }} </td>
                        <td class="narrow-col" {% if sell_item.rank_max == 1 %} style="background-color: lightgreen;"{% endif %} {% if sell_item.rank_min == 1 %} style="background-color: lightcoral;"{% endif %}>{{ sell_item.value | round(3) }} </td>
                        <td>{{ sell_item.department_address }}</td>
                        <td class="narrow-col">{{ sell_item.distance }}</td>
                     </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
