{# competitors.html #}
<td>
    <table>
        <tbody>
            {% if item.get('Конкуренты') %}
                {% for bank, details in item.Конкуренты.items() %}
                    <tr>
                        <td>{{ bank }}</td>
                        <td>
                            <table>
                                <tbody>
                                    {% for k, v in details.items() %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ v }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</td>