{# details.html #}
{% from 'image.html' import static_image %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Эластичность курса - детали</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', path='pico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='custom___.css') }}">

<!--    <style>-->
<!--        .nav-container {-->
<!--            display: flex;-->
<!--            justify-content: space-between;-->
<!--            align-items: center;-->
<!--            padding: 1rem;-->
<!--            background-color: #f8f9fa; /* Light background */-->
<!--            border-bottom: 1px solid #eee; /* Subtle border */-->
<!--            border-collapse: collapse;-->
<!--            width: 95%;-->
<!--            margin-left: auto;-->
<!--            margin-right: auto;-->
<!--        }-->

<!--        .nav-left {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--        }-->

<!--        .nav-title {-->
<!--            font-size: 1.25rem;-->
<!--            font-weight: bold;-->
<!--            margin-right: 1rem;-->
<!--        }-->

<!--        .nav-right {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            gap: 1rem; /* Space between elements */-->
<!--        }-->

<!--        .nav-user-info {-->
<!--            font-size: 0.9rem;-->
<!--            color: #6c757d; /* Muted text color */-->
<!--        }-->

<!--        .nav-logout-button {-->
<!--            &#45;&#45;pico-color: #dc3545; /* Red color for logout */-->
<!--            &#45;&#45;pico-contrast: #fff;-->
<!--            font-size: 0.9rem;-->
<!--        }-->

<!--        .calculate-form {-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            margin-top: 1rem;-->
<!--            gap: 1rem;-->
<!--        }-->

<!--        .custom-button {-->
<!--            box-sizing: border-box;-->
<!--            padding: 0.3rem 1.0rem;-->
<!--            font-size: 0.7rem;-->
<!--            max-width: 12rem;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <main class="main-no-padding">
        <nav class="nav-container">
            <div class="nav-left">
                <a href="/" role="button" class="nav-logout-button" style="margin-right: 1rem;">Назад</a>
                <span class="nav-title">Детальная информация</span>
            </div>
        </nav>

        <div>
            {% include 'item_table.html' %}
        </div>


         <div>
            {% include 'competitors.html' %}
        </div>
    </main>

</body>

</html>
