{# item_table.html #}

<style>
    .usd-group {
        background-color: #e0f7fa; /* Light cyan */
    }
    .eur-group {
        background-color: #fff9c4; /* Light yellow */
    }
    .rub-group {
        background-color: #E9F2F9; /* Light blue/lime */
    }
    table {
        width: 95%;
        border-collapse: collapse;
        margin: 10px auto;
        table-layout: fixed;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 3px;
        text-align: center;
        font-size: 10px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    th {
        background-color: #f2f2f2;
        white-space: normal;
        word-break: break-word;
    }
    .negative-cell {
        background-color: #f44336;
        color: white;
        font-weight: bold;
    }
    h2 {
        padding-left: 2.5%;
        margin-bottom: 5px;
        margin-top: 20px;
    }
</style>

<div style="display: flex; flex-direction: column; padding-left: 2.5%; margin-bottom: 10px;">
    {% if datetimes.model_calc_dttm %}
        <span style="margin: 3px; font-size: 12px;">Модель рассчитана в: {{ datetimes.model_calc_dttm[:19] }}</span>
    {% endif %}
    {% if datetimes.finrez_dttm %}
        <span style="margin: 3px; font-size: 12px;">Данные алгоритма финреза загружены в: {{ datetimes.model_calc_dttm[:19] }}</span>
    {% endif %}
    {% if datetimes.kurs_perekrutiya_dttm %}
        <span style="margin: 3px; font-size: 12px;">Курсы перекрытия обновлены в: {{ datetimes.kurs_perekrutiya_dttm[:19] }}</span>
    {% endif %}
</div>

{% for region_name, items in regions_data.items() %}
    {% if region_name != 'default_region_name' %}
    <h2><strong>{{ region_name }}</strong></h2>
    {% endif %}
    <table>
        <thead>
            <tr>
                {% for header in header_columns %}
                    {% set currency_class = '' %}
                    {% if header.startswith('USD') %}{% set currency_class = 'usd-group' %}
                    {% elif header.startswith('EUR') %}{% set currency_class = 'eur-group' %}
                    {% elif header.startswith('RUB') %}{% set currency_class = 'rub-group' %}
                    {% endif %}
                    <th class="{{ currency_class }}">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% for header in header_columns %}
                    {% set currency_class = '' %}
                    {% if header.startswith('usd') %}{% set currency_class = 'usd-group' %}
                    {% elif header.startswith('eur') %}{% set currency_class = 'eur-group' %}
                    {% elif header.startswith('rub') %}{% set currency_class = 'rub-group' %}
                    {% endif %}
                    {% set value = item[header] %}
                    <td class="{{ currency_class }}">
                        {% if value is number %}
                            {% if header == 'Номер точки продаж' %}
                                <strong><a href="/{{ value }}">{{ value }}</a></strong>
                            {% else %}
                                {{ value|round(3) }}
                            {% endif %}
                        {% else %}
                            {{ value|default('') }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
