{# item_table.html #}
<table>
    <thead>
        <tr>
            {% for header in header_columns %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% for header in header_columns %}
                <td>
                    {% set value = item.get(header) %}
                    {% if header == 'kurs_prinyato' %}
                        <input type="text" name="item_{{ item.id }}_kurs_prinyato" value="{{ form_data.get('item_' ~ item.id ~ '_kurs_prinyato', value) }}">
                    {% elif header == 'kurs_vydano' %}
                        <input type="text" name="item_{{ item.id }}_kurs_vydano" value="{{ form_data.get('item_' ~ item.id ~ '_kurs_vydano', value) }}">
                    {% elif header == 'nomer_punkta' %}
                        {% if value %}
                            <a href="/{{ value }}/">{{ value }}</a>
                        {% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // Assuming you pass the header_columns to the template
    const header_columns = [{% for header in header_columns %}"{{ header }}"{% if not loop.last %},{% endif %}{% endfor %}];
</script>