    {# list.html #}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Эластичность курса - свод</title>
        <link rel="stylesheet" href="{{ url_for('static', path='pico.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='custom.css') }}">
    </head>
    <body>
        <main>
            <p>Текущий подход: {{ model_type }}</p>
            <form action="change-model-type" method="post" class="toggle-form">
                <button type="submit" class="toggle-button">
                    {% if model_type == 'causal' %}
                        Switch to Predictive
                    {% else %}
                        Switch to Causal
                    {% endif %}
                </button>
            </form>
            <nav class="nav-container">
                <div class="nav-left">
                    <span class="nav-title">Сводный вид</span>
                </div>
                <div></div>
                <div class="nav-actions">
                    <form action="/" method="get">
                        <input type="hidden" name="action" value="press">
                        <button type="submit">Полный пересчет</button>
                    </form>
                    <a href="/download/file_short"
                       role="button"
                       class="secondary"
                       download="short__usd_eur_rub.xlsx">
                    Скачать краткий отчет
                    </a>
                    <a href="/download/file_long"
                       role="button"
                       class="secondary"
                       download="long__usd_eur_rub.xlsx">
                    Скачать полный отчет
                    </a>
                </div>
            </nav>
            <div>
                <div>
                    {% include 'item_table.html' %}
                </div>
            </div>
        </main>
    </body>
    </html>
