    {# list.html #}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Эластичность курса - свод</title>
        <link rel="stylesheet" href="{{ url_for('static', path='pico.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='custom.css') }}">
    </head>
    <body>
        <main>
            <nav class="nav-container">
                <div class="nav-left">
                    <span class="nav-title">Сводный вид</span>
                </div>
                <div class="nav-actions">
                    <div class="model-switcher-label">
                            <span>Подход:</span>
                            <strong>{{ model_type }}</strong>
                    </div>
                    <form action="change-model-type" method="post">
                            <button type="submit" class="secondary outline btn-switcher button-sm">
                                {% if model_type == 'causal' %}
                                    Сменить подход на predictive
                                {% else %}
                                    Сменить подход на causal
                                {% endif %}
                            </button>
                        </form>
                    <form action="/" method="get">
                        <input type="hidden" name="action" value="press">
                        <button type="submit" class="button-sm">Полный пересчет</button>
                    </form>
                    <a href="/download/file_short"
                       role="button"
                       class="secondary button-sm"
                       download="short__usd_eur_rub.xlsx">
                    Скачать краткий отчет
                    </a>
                    <a href="/download/file_long"
                       role="button"
                       class="secondary"
                       download="long__usd_eur_rub.xlsx">
                    Скачать полный отчет
                    </a>
                </div>
            </nav>
            <div>
                <div>
                    {% include 'item_table.html' %}
                </div>
            </div>
        </main>
    </body>
    </html>
